.bloqueimg{
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/ca3bb3fd986659c88002e443/8fd61bc0-5bae-1121-8583-3332d09cf9eb.jpg);
    height: 50%;
    width: 90%;
    background-size: cover;
}